<?xml version="1.0" encoding="utf-8" ?>

<!-- http://nlog-project.org/wiki/File_target -->
<!-- http://htmlencode.net/ -->
<!-- http://nlog-project.org/wiki/Wrapper-layout-renderers -->
<!-- http://nlog-project.org/wiki/Layout_renderers -->

<configuration>
  <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>

    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <source lang="xml"/>
      <variable name="logFilePath" value="${basedir}/DebugLog.xml"/>
      <targets async="false">
        <target name="fileXml" xsi:type="File" fileName="${logFilePath}"
                encoding="utf-8"
                archiveAboveSize="5000000" maxArchiveFiles="10">
          <layout>
<![CDATA[<event>
<date>${date:format=yyyy-MM-ddTHH\:mm\:ss.fffffff}</date>
<ip>${event-context:item=IP}</ip>
<rectype>${event-context:item=RecType}</rectype>
<message>${xml-encode:inner=${message}}</message>
<exception>${xml-encode:inner=${event-context:item=CustomException}}</exception>
<logstacktrace>${xml-encode:inner=${event-context:item=LogCallSite}}</logstacktrace>
<threadstacktrace>${xml-encode:inner=${event-context:item=ThreadCallSite}}</threadstacktrace>
<customstacktrace>${xml-encode:inner=${event-context:item=CustomCallSite}}</customstacktrace>
<exceptionType>${xml-encode:inner=${event-context:item=ExceptionType}}</exceptionType>
<methodName>${xml-encode:inner=${event-context:item=MethodName}}</methodName>
<machineName>${xml-encode:inner=${event-context:item=MachineName}}</machineName>
<assemblyName>${xml-encode:inner=${event-context:item=AssemblyName}}</assemblyName>
<assemblyVersion>${xml-encode:inner=${event-context:item=AssemblyVersion}}</assemblyVersion>
<url>${xml-encode:inner=${event-context:item=Url}}</url>
<urlReferrer>${xml-encode:inner=${event-context:item=UrlReferrer}}</urlReferrer>
<sourcePath>${xml-encode:inner=${event-context:item=SourcePath}}</sourcePath>
</event>]]>
          </layout>
        </target>

          <target xsi:type="EventLog" name="eventLog" source="${appTitle}"
                  layout="${message}${newline}${event-context:item=LogCallSite}${newline}${event-context:item=ThreadCallSite}${newline}${event-context:item=CustomCallSite}${newline}"/>

          <target xsi:type="MessageBox" name="mbox" caption="Error"
                layout="${message}${newline}${event-context:item=CustomException}${newline}${event-context:item=LogCallSite}${newline}${event-context:item=ThreadCallSite}${newline}${event-context:item=CustomCallSite}${newline}"/>
      </targets>

      <rules>
        <logger name="*" minlevel="Trace" writeTo="fileXml"/>
        <logger name="*" minlevel="Warn" writeTo="eventLog"/>
        <!--<logger name="*" minlevel="Error" writeTo="mbox"/>-->
      </rules>
    </nlog>
  </configuration>